html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.parallax {
    background: white fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1 {
    background-image: url("../images/akali.jpg");
    display: flex;
    justify-content: center;
    align-items: center;


}

#seccion2 {
    background-image: url("../images/akali4.jpg");
}

#seccion3 {
    background-image: url("https://i.pinimg.com/originals/d1/b0/6d/d1b06dab66c03089c6ecaa0de26787ed.jpg");

    justify-content: center;

}

.nav1 {
    background-color: rgba(0, 0, 0, 1);

}

.logo {
    text-align: center;
    display: block;
    margin: auto;
    width: 140px;
    height: 80px;
    border-radius: 100%;
}

.logo2 {
    text-align: center;
    display: block;
    margin: auto;
    width: 200px;
    height: 140px;
    border-radius: 100%;

}

.card-una {
    background: black;
}

.letra-1 {
    color: white;
    font-family: "Corbel Light";
}

.letra-nav {
    font-size: 20px;
    font-family: "Corbel Light";
}

.consola-juego {
    color: #0a53be;
}

.texto-juego {
    text-align: justify;
    font-family: "Corbel Light";
}

.nombre-juego {
    color: red;
    font-family: "Corbel Light";
}

.letra-inicio {
    font-family: "Corbel Light";
    font-size: 20px;
}

.img-car {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.img-novedades {
    border-radius: 50px;
}

.fondo-car {
    background-image: url("https://images.vexels.com/media/users/3/174114/raw/b3a5a875a8db4d6d9790a04bf42cd80c-diseno-de-triangulos-de-fondo-negro.jpg");
}


.contact-form {
    background-color: rgba(119, 111, 111, 0.2);

    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}


.how-section1 {
    margin-top: -15%;
    padding: 10%;
}

.how-section1 h4 {
    color: #eea528;
    font-weight: bold;
    font-size: 30px;
}

.how-section1 .subheading {
    color: #857934;
    font-size: 20px;
}

.how-section1 .row {
    margin-top: 10%;
}

.how-img {
    text-align: center;
}

.how-img img {
    width: 40%;
}

.noticias-font {
    font-family: "Corbel Light";
}
